{% load i18n %}

{% block subject %}
    {% blocktrans %}Сброс пароля на сервисе {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
    {% blocktrans %}Вы получили данное сообщение, поскольку вам необходимо сбросить ваш текущий пароль и заменить его на
        новый на сервисе {{ site_name }}.{% endblocktrans %}

    {% trans "Пожалуйста введите данный код для получения возможности создания новго пароля:" %}
    {{ code }}
    {% trans "Ваше имя пользователя в системе, на случай если вы забыли: " %} {{ user.get_username }}

    {% blocktrans %} Если вы получили данное сообщение, но не запрашивали сброс пароля на сервисе {{ site_name }},
        пожалуйста как можно скорее измените пароль своей учётной записи на более надёжный или обратитесь в службу
        поддержки.  {% endblocktrans %}

    {% blocktrans %} Если вы не регистрировались на сервисе {{ site_name }}, пожалуйста, проигнорируйте данное
        сообщение. Мы уверяем вас, что сделаем всё возможное, чтобы данная ситуация не повторялась. Спасибо за
        понимание! {% endblocktrans %}

    {% trans "Спасибо что выбрали нас!" %}

    {% blocktrans %}С уважением, команда {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
    <p style="font-size: large; font-family: 'Calibri',serif; margin-bottom: 2%">{% blocktrans %}Вы получили данное
        сообщение, поскольку вам необходимо сбросить ваш текущий пароль и заменить его на
        новый на сервисе {{ site_name }}.{% endblocktrans %}</p>

    <p style="font-size: large; font-family: 'Calibri',serif;">{% trans "Пожалуйста введите данный код для получения возможности создания новго пароля:" %}</p>
    <div style="display: flex; justify-content: center;">
        <div style="background-color: #F5F5F5; min-width: 30%;">
            <p style="font-size: xx-large; text-align: center;">{{ code }}</p>
        </div>
    </div>


    <p style="font-size: large; font-family: 'Calibri',serif; margin-bottom: 2%">{% trans "Ваше имя пользователя в системе, на случай если вы забыли: " %} {{ user.get_username }}</p>

    <p style="font-size: large; font-family: 'Calibri',serif; margin-bottom: 2%">{% blocktrans %} Если вы получили
        данное сообщение, но не запрашивали сброс пароля на сервисе {{ site_name }},
        пожалуйста как можно скорее измените пароль своей учётной записи на более надёжный или обратитесь в службу
        поддержки. {% endblocktrans %}</p>

    <p style="font-size: large; font-family: 'Calibri',serif; margin-bottom: 2%">{% blocktrans %} Если вы не
        регистрировались на сервисе {{ site_name }}, пожалуйста, проигнорируйте данное
        сообщение. Мы уверяем вас, что сделаем всё возможное, чтобы данная ситуация не повторялась. Спасибо за
        понимание! {% endblocktrans %}</p>

    <p style="font-size: large; font-family: 'Calibri',serif; margin-bottom: 2%">{% trans "Спасибо что выбрали нас!" %}</p>

    <p style="font-size: large; font-family: 'Calibri',serif; margin-bottom: 15%">{% blocktrans %}С уважением,
        команда
        {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
