.navbar-light {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: white !important;
    border-bottom: 0.15rem solid var(--light-grey-color);
}
.navbar-light .navbar-brand {
    margin-right: 4vw;
    font-family: var(--header-font-family);
    font-size: 1.6rem;
    text-decoration: underline;
    text-decoration-color: var(--dark-blue-color);
    text-decoration-thickness: 0.5rem;
}
.navbar-light .nav-link {
    margin-left: 1vw;
}
.navbar-light .nav-link .underline{
    width: 100%;
    height: 0.3rem;
    background-color: var(--light-pink-color);
    opacity: 0;
    transition: opacity 0.2s;
}
.navbar-light .nav-link:hover .underline{
    opacity: 1;
    transition: opacity 0.2s;
}
.navbar-light .nav-link.active .underline{
    width: 100%;
    height: 0.3rem;
    background-color: var(--pink-color);
    opacity: 1;
}
.navbar-light .nav-link.active {
    font-weight: 600;
}
.navbar-light .register {
    font-weight: 500;
    margin-right: 1vw;
    color: black;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 0.3rem solid var(--dark-blue-color);
}
.navbar-light .register:hover {
    font-weight: 600;
    transition: font-weight 0.3s;
}
.navbar-light .register:active {
    background: none;
    color: black;
    border-bottom: 0.3rem solid var(--blue-color);
}
.navbar-light .signin {
    margin-right: 2vw;
    background-color: var(--dark-blue-color);
    border: 0.15rem solid var(--dark-blue-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.navbar-light .signin:hover {
    font-weight: 600;
    background-color: white;
    color: var(--dark-blue-color);
    border: 0.15rem solid var(--dark-blue-color);
    transition: 0.3s;
}
.navbar-light .signin:active {
    font-weight: 600;
    background-color: var(--light-grey-color);
    color: darkblue;
    border: 0.15rem solid darkblue;
    transition: 0.3s;
}
.navbar-light .logout {
    margin-right: 2vw;
    background-color: var(--pink-color);
    border: 0.15rem solid var(--pink-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.navbar-light .logout:hover {
    font-weight: 600;
    background-color: white;
    color: var(--pink-color);
    border: 0.15rem solid var(--pink-color);
    transition: 0.3s;
}
.navbar-light .logout:active {
    font-weight: 600;
    background-color: var(--light-grey-color);
    color: var(--dark-pink-color);
    border: 0.15rem solid var(--dark-pink-color);
    transition: 0.3s;
}
.navbar-light .username {
    font-weight: 600;
    text-decoration: none;
    vertical-align: center;
    margin: auto 1rem;
    border-bottom: 0.3rem solid var(--pink-color);
}

        /* ------------ Transparent navbar ----------------- */

.transparent.navbar-light {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: calc(100vw - 20px);
    font-weight: 500;
    font-size: 1.1rem;
    background-color: transparent !important;
    border: none;
}
.transparent.navbar-light .navbar-brand {
    color: white;
    margin-right: 4vw;
    font-family: var(--header-font-family);
    font-size: 1.6rem;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 0.4rem;
}
.transparent.navbar-light .nav-link {
    color: white;
    margin-left: 1vw;
}
.transparent.navbar-light .nav-link .underline{
    width: 100%;
    height: 0.2rem;
    background-color: white;
    opacity: 0;
    transition: opacity 0.2s;
}
.transparent.navbar-light .nav-link:hover .underline{
    opacity: 1;
    transition: opacity 0.2s;
}
.transparent.navbar-light .nav-link.active .underline{
    width: 100%;
    height: 0.3rem;
    background-color: white;
    opacity: 1;
}
.transparent.navbar-light .nav-link.active {
    font-weight: 600;
}
.transparent.navbar-light .register {
    font-weight: 500;
    margin-right: 1vw;
    color: white;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 0.2rem solid white;
}
.transparent.navbar-light .register:hover {
    font-weight: 600;
    border-bottom: 0.3rem solid white;
    transition: font-weight 0.3s;
}
.transparent.navbar-light .register:active {
    background: none;
    color: white;
    border-bottom: 0.3rem solid white;
}
.transparent.navbar-light .signin, .transparent.navbar-light .logout {
    color: black;
    margin-right: 2vw;
    background-color: white;
    border: 0.15rem solid white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.transparent.navbar-light .signin:hover .transparent.navbar-light .logout:hover {
    font-weight: 600;
    background-color: transparent;
    color: white;
    border: 0.15rem solid white;
    transition: 0.3s;
}
.transparent.navbar-light .signin:active .transparent.navbar-light .logout:hover {
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: 0.15rem solid white;
    transition: 0.3s;
}
.transparent.navbar-light .username {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 600;
    color: white;
    vertical-align: center;
    margin: auto 1rem;
    border-bottom: 0.25rem solid white;
}

        /* ------------ Admin navbar ----------------- */

.admin.navbar-light .navbar-brand {
    text-decoration-color: var(--admin-red-color);
}
.admin.navbar-light .navbar-brand > b{
    font-family: var(--base-font-family);
    font-weight: 500;
}
.admin.navbar-light .nav-link .underline{
    background-color: var(--admin-red-light-color);
}
.admin.navbar-light .nav-link.active .underline{
    background-color: var(--admin-red-color);
}
.admin.navbar-light .logout {
    background-color: var(--admin-red-color);
    border: 0.15rem solid var(--admin-red-color);
}
.admin.navbar-light .logout:hover {
    background-color: white;
    color: var(--admin-red-color);
    border: 0.15rem solid var(--admin-red-color);
}
.admin.navbar-light .logout:active {
    background-color: var(--light-grey-color) !important;
    color: var(--admin-red-dark-color) !important;
    border: 0.15rem solid var(--admin-red-dark-color) !important;
}
.admin.navbar-light .username {
    border-bottom: 0.3rem solid var(--admin-red-color);
}